<form id="form">
    <div class="wrapper">
        <label  class="form__label" for="nameArticle">Название статьи <textarea name="nameArticle" class="form__input"  id="nameArticle" >{{name}}</textarea></label>
<label class="form__label" for="t">Текст статьи <textarea ame="textArticle"  class="form__textarea form__input" data-default={{text}}   id="t" >{{text}}</textarea></label>
<b class="form__author">Автор:{{author}}</b>
<input class="form__submit" type="submit" value="сохранить">
<input class="form__delete" type="button" value="удалить">

    </div>
</form>
<script src="/scripts/index.js" type="text/javascript"></script>


