<table class="layout">
    <tr>
        <td colspan="2" class="header">
            Мой блог
        </td>
    </tr>
    <tr>
        <td>
            {{#if articles}}
            {{#each articles}}
            <a href="articles/{{this.id}}">{{this.name}}</a>
            <p>{{this.text}}</p>
              <hr>
            {{/each}}
            {{else}}
            <h1>Упс.. произошла ошибка</h1>
            {{/if}}
        </td>

        <td width="300px" class="sidebar">
            <div class="sidebarHeader">Меню</div>
            <ul>
                <li><a href="/">Главная страница</a></li>
                <li><a href="/about-me">Обо мне</a></li>
            </ul>
        </td>
    </tr>
    <tr>
        <td class="footer" colspan="2">Все права защищены (c) Мой блог</td>
    </tr>
</table>