  <td>
            {{#if articles}}
            {{#each articles}}
            <a href="articles/{{this.id}}">{{this.name}}</a>
            <p>{{this.text}}</p>
              <hr>
            {{/each}}
            {{else}}
            <h1>Упс.. произошла ошибка</h1>
            {{/if}}
</td>