   <td> 
    <div style="text-align: center;">

        <h1>Регистрация</h1>

        <form class="registration" action="/users/register" method="post">

            <label  class="label">Nickname <input type="text" class="nick register-input" name="nickname"></label>

            <br><br>

            <label  class="label">Email <input  type="email" class="email register-input"  name="email"></label>

            <br><br>

            <label  class="label">Пароль <input type="password" minlength="8" class="password register-input" name="password"></label>

            <br><br>

            <input type="submit" value="Зарегистрироваться">

        </form>

    </div>
</td>
<script src="/scripts/registration.js" type="text/javascript"></script>